* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  // padding: 30px;

  main {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right bottom,
      rgb(26, 26, 26),
      rgb(30, 30, 30),
      black
    );
    padding: 20px;

    section {
      height: 100%;
      width: 350px;
      background-color: black;
      border-radius: 10px;
      margin: auto;

      .allreels {
        height: 100%;
        width: 100%;
        overflow: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        .reels {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          margin-bottom: 20px;

          scroll-snap-align: start;
          scroll-snap-stop: always;

          video {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .bottom {
            padding: 25px 20px;
            width: 100%;
            background: linear-gradient(
              rgba(0, 0, 0, 0.096),
              rgba(0, 0, 0, 0.946)
            );
            position: absolute;
            bottom: 0;

            .user {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 20px;

              img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                object-fit: cover;
              }

              h4 {
                font-size: 15px;
                font-weight: 500;
              }
              button {
                padding: 2px 4px;
                background-color: transparent;
                color: white;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid white;
                border-radius: 4px;

                &:active {
                  scale: 0.95;
                }
              }
            }

            h3 {
              font-weight: 500;
              font-size: 20px;
            }
          }

          .right {
            width: 40px;
            position: absolute;
            // transform: translateX(100%);
            padding: 25px;
            right: 0;
            bottom: 10%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              h4 {
                cursor: pointer;
                i {
                  font-size: 25px;
                  font-weight: 500;
                }
                .love {
                  color: red;
                }
              }
              h6 {
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .allreels::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
