@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyle($size, $weight: normal) {
  font-size: $size;
  font-weight: $weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  @include center;
  flex-direction: column;
  gap: 2rem;
  background: #000000;
}

.box {
  width: 90%;
  height: 500px;
  padding: 50px;
  background: rgb(219, 8, 8);
  border-radius: 10px;
  display: flex;
  gap: 5rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  .left {
    background-color: #007bff;
    width: 40%;
    @include center;
    border-radius: 10px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      // background: #ddd;
    }
  }

  .right {
    width: 50%;
    @include center;
    flex-direction: column;
    background-color: transparent;
    gap: 4px;
    border-radius: 10px;
    border: 2px solid black;

    h1 {
      @include textStyle(3rem, 500);
    }
    h2 {
      @include textStyle(3rem, 500);
    }
    h3 {
      @include textStyle(3rem, 500);
    }
    h4 {
      @include textStyle(3rem, 500);
    }
  }
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background: #007bff;
  color: white;
  cursor: pointer;
  @include textStyle(4rem, 600);
  transition: 0.3s;

  &:active {
    background: #0250a4;
    scale: 0.95;
  }
}
