* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  background-color: black;
  main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 20px 30px;
      background-color: beige;
      color: black;
      font-size: 2rem;
      font-weight: 600;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    button:active {
      scale: 0.95;
      background-color: rgb(207, 207, 182);
    }
    h1 {
      white-space: nowrap;
    }
  }
}
