* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  color: whitesmoke;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes effect {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.card {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 50px #299829;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, #0bf20c, black) border-box;
  border: 5px solid rgba(255, 255, 255, 0);
  animation: effect 3s infinite;
}
.img {
  width: 100%;
}
