* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
}
h1 {
  color: white;
  font-size: 7rem;
  text-align: center;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;

    h1 {
      color: black;
      font-size: 10rem;
      font-weight: bold;
    }

    .btn {
      display: flex;
      gap: 2rem;

      button {
        border-radius: 9px;

        i {
          font-size: 5rem;
        }

        &:hover {
          background: rgb(42, 42, 42);
          color: white;
          transform: scale(1.1);
        }
      }
    }
  }
}
