* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  .card {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    background-color: white;

    div {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 90px;
        opacity: 0;
        text-shadow: 0 0 20px rgba(255, 0, 0, 0.6);

        background-image: url("https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        transform: translate(-50%, -50%) scale(0) rotate(-60deg);
        transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.4s;
      }
    }

    h2 {
      font-size: 30px;
      text-align: center;
    }
  }
}
